################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/csvObstacle2ofmx/.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-wal
/csvObstacle2ofmx/.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-shm
/csvObstacle2ofmx/.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide
/csvObstacle2ofmx/.vs/ConsoleApp1/v15/Server/sqlite3/db.lock
